{% extends "layout.html" %}
{% block body %}

<div class = "container">
        <strong>Usage:</strong> Enter hashes as multiline input without trailing newline.Better use hashes in count of 10,20,40.
<br><br>
<form action="" id="formsubmit" method="POST" onsubmit="return fnGetAVscanner()">
        <div class="form-group">
                <div class="row">
                        <div class="col-md-4">
                                <textarea placeholder="Enter Hash as Multiline" class="form-control rounded mb-0" rows="7" name=text></textarea>
                        </div>
                </div>

                <br>
                <select name="AVScanner" id="AVScanner">
                        <option value="Symantec">Symantec</option>
                        <option value="Microsoft">Microsoft</option>
                        <option value="BitDefender">BitDefender</option>
                        <option value="Sophos">Sophos</option>
                        <option value="GData">GData</option>
                        <option value="McAfee">McAfee</option>
                        <option value="Kaspersky">Kaspersky</option>
                        <option value="TrendMicro">TrendMicro</option>
                        <option value="McAfee">McAfee</option>
                        <option value="K7AntiVirus">K7AntiVirus</option>
                        <option value="CAT-QuickHeal">CAT-QuickHeal</option>
                </select>

                <br><br><button class="btn btn-primary" type="submit" >Check</button>
    
                
        </div>
</form>
</div>

<script>
        function fnGetAVscanner(){
            var e = document.getElementById("AVScanner");
            var value = e.options[e.selectedIndex].value;
            document.getElementById("formsubmit").action = "/submit?avscanner="+value;
            console.log(value);
        }
       
</script>
{% endblock %}
